@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
}

main {
  display: flex;
}

.image {
  width: 50%;
}

img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.recipe {
  width: 50%;
  padding: 3% 5% 0;
}

section {
  margin-bottom: 40px;
}

.title {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.25rem;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c5c5c5;
}

.material {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.st {
  margin-left: 20px;
}

.material, .st {
  padding-bottom: 5px;
  margin-bottom: 7px;
  border-bottom: 1px dotted #c5c5c5;
}