* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #383e45;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
  text-align: center;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.left-head img {
  height: 40px;
  margin: 15px 0;
}

.right-head ul {
  display: flex;
  line-height: 70px;
}

.right-head a {
  color: #383e45;
  padding-left: 20px;
}

.right-head a:hover {
  opacity: 0.7;
}

.main-visual {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  background-image: url(./img/mainvisual.jpg);
  background-size: cover;
}

h1 {
  width: 105px;
  margin: 70px auto;
  border-bottom: 1px solid #383e45;
}

.content {
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.about-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
}

.bi-contents {
  width: 100%;
  margin-bottom: 70px;
  display: flex;
}

.bi-content {
  margin-bottom: 20px;
  text-align: center;
}

.bi-content img {
  width: 80%;
}

footer {
  padding-bottom: 10px;
  text-align: center;
}

footer p {
  font-size: 5px;
}

@media(max-width: 600px) {
  .container {
    width: 100%;
  }
  .content, .bi-contents {
    text-align: center;
    display: block;
  }
  .about-image {
    margin: 20px auto;
  }
  .about-prof {
    text-align: left;
  }
}